li{
    list-style: none;
}
.commodity{
    width: 80%;
    min-height: 300px;
    background-color: white;
    margin: auto;
    margin-top: 25px;
    box-shadow: 1px 1px 7px;
    border-radius: 15px;
}
.img-commodity{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.img-commodity img{
    max-height: 450px;
    max-width: 100%;
}
.img-buy{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img-buy li{
    padding-top: 25px;
}
.buy-commodity{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.buy-button{
    position: relative;
}
.buy-sum{
    display: flex;
    justify-content: end;
    align-items: center;
}
.buy-tap-button{
    border: 0px;
    background-color: rgb(55, 146, 55);
    padding: 5px 15px 5px 15px;
    font-size: 24px;
    border-radius: 5px;
    color: white;
}
.price{
    font-size: 24px;
    margin-right: 15px;
}
.buy-button li {
    max-width: 400px;
    margin: auto;
    padding: 0px 5px 0px 5px;
}
.buy-sub{
    text-align: center;
}
@media screen and (max-width: 600px){

    .name-commodity{
        font-size: 20px;
    }
    
    .commodity p,.commodity label {
        font-size: 12px;
    }
}