.commodity{
    width: 80%;
    min-height: 300px;
    background-color: white;
    margin: auto;
    margin-top: 25px;
    box-shadow: 1px 1px 7px;
    border-radius: 15px;
}
.img-buy{
    display: flex;
    justify-content: space-around;
}
.img-buy li{
    list-style: none;
    padding-top: 25px;
}
.buy-commodity{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}