.commodity{
    width: 80%;
    min-height: 300px;
    background-color: white;
    margin: auto;
    margin-top: 25px;
    box-shadow: 1px 1px 7px;
    border-radius: 15px;
}
.img-buy{
    display: flex;
    justify-content: space-around;
}
.img-buy li{
    list-style: none;
    padding-top: 25px;
}
.buy-commodity{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.buy-button{
    position: relative;
}
.buy-sum{
    display: flex;
    justify-content: end;
}
.buy-sum li {
    padding-right: 15px;
}
.buy-tap-button{
    border: 0px;
    background-color: rgb(55, 146, 55);
    padding: 15px 5px 5px 15px;
    border-radius: 5px;
    color: white;
}
.buy-button li {
    max-width: 80%;
    margin: auto;
}
.buy-sub{
    text-align: center;
}